@use '/src/scss/colors' as colors;
@use '/src/scss/typography';

.overview {
  width: min(600px, 100%);
  flex-grow: 1;
  margin: auto;

  &__title {
    @extend .h2-bold;
    padding: 40px 20px 20px 30px;
    color: colors.$base-100;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 30px 20px 30px;

    &-title {
      @extend .h4-medium;
      color: colors.$primary-100;
    }

    &-text {
      @extend .h5-regular;
      color: colors.$base-100;
    }
  }

  &__details {
    padding: 20px;

    &-section {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 5px;
      border-bottom: 1px solid colors.$base-400;
      padding: 5px;
    }

    &-price-wrapper {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      padding: 5px 5px 0 5px;
    }

    &-user-row {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &-title {
      @extend .h4-medium;
      color: colors.$primary-100;
    }

    &-text {
      @extend .h5-regular;
      color: colors.$base-100;

      &--primary {
        @extend .h5-medium;
        color: colors.$primary-100;
      }

      &--base-200 {
        @extend .h5-regular;
        color: colors.$base-200;
      }
    }
  }

  &__actions {
    display: flex;
    gap: 20px;
    padding: 0px 30px 20px 30px;
  }
}
