@use '/src/scss/colors' as colors;
@use '/src/scss/typography';

.service {
  width: min(600px, 100%);
  padding: 30px 0;
  flex-grow: 1;
  margin: auto;

  &__title {
    @extend .h2-bold;
    padding: 40px 20px 20px 30px;
    color: colors.$base-100;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 30px 20px 30px;
  }

  &__section-title {
    @extend .h4-medium;
    color: colors.$primary-100;
  }

  &__car-models {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
  }

  &__discount {
    background-color: colors.$bg-200;
    display: flex;
    justify-content: space-between;
  }
}
