// Base
$base-100: #1c1c1c;
$base-200: #585757;
$base-300: #969696;
$base-400: rgba(0, 0, 0, 0.15); // Black with 15% opacity
$base-500: rgba(0, 0, 0, 0.04); // Black with 4% opacity
$base-600: #ffffff;

// Primary and Error

$primary-100: #004289;
$primary-200: #0f5096;
$error: #ef4147;

// Background colors
$bg-100: #fefefe;
$bg-200: #f8f8f8;
$bg-300: #efefef;
