@use '../../scss/colors' as colors;
@use '../../scss/base' as base;
@use '/src/scss/typography';

.btn {
  @extend .h3-regular;
  height: 44px;
  padding: 5px 15px;
  border-radius: 3px;
  background-color: colors.$primary-100;
  color: colors.$base-600;
  border: none;
  outline: none;
  cursor: pointer;
  transition: base.$transition;

  &:not(&--link) &:hover {
    background-color: colors.$primary-200;
  }

  &--small {
    @extend .h4-regular;
    height: 35px;
  }

  &--icon {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  &--link {
    @extend .h5-regular;
    height: 24px;
    padding: 0;
    background-color: transparent;
    color: colors.$primary-100;
    text-underline-offset: 4px;

    &:hover {
      text-decoration: underline;
    }
  }

  &--secondary {
    height: 35px;
    font-size: 18px;
    color: colors.$base-100;
    background-color: colors.$base-600;
    border: 1px solid colors.$base-200;

    &.btn:not(:disabled):hover {
      background-color: colors.$base-500;
    }
  }

  &--tertiary {
    display: flex;
    align-items: center;
    height: 34px;
    padding: 5px;
    font-size: 16px;
    color: colors.$base-100;
    background-color: colors.$base-500;

    &-xs {
      padding-left: 5px;
      padding-right: 2px;
    }
    &.btn:not(:disabled):hover {
      background-color: colors.$base-500;
    }
  }

  &:disabled {
    color: colors.$base-300;
    background-color: colors.$base-400;
    border: none;
    cursor: not-allowed;
  }
}
