@use '/src/scss/typography' as typography;
@use '/src/scss/colors' as colors;
@use '/src/scss/base' as base;

.container {
  display: flex;
  flex-direction: column;

  &__label {
    @extend .h6-regular;
    padding-left: 10px;
  }

  &__textarea {
    @extend .h5-medium;
    padding: 5px 5px 5px 10px;
    outline: none;
    background-color: colors.$base-500;
    border: 1px solid colors.$base-500;
    border-radius: base.$border-radius-3;
    transition: base.$transition;
    color: colors.$base-100;
    resize: vertical;

    &--error {
      border: 1px solid colors.$error;
    }

    &::placeholder {
      @extend .h5-regular;
      color: colors.$base-200;
    }

    &:disabled {
      color: colors.$base-200;
    }

    &:not(:disabled, :focus):hover {
      border: 1px solid colors.$base-400;
    }

    &:focus {
      border: 1px solid colors.$primary-200;
      box-shadow: 0 0 0 2px #0000001a;
    }

    &:disabled {
      color: colors.$base-200;
      cursor: not-allowed;
    }
  }

  &__text {
    @extend .h6-regular;
    padding-left: 10px;
    color: colors.$error;
  }
}
